# colcon
devkit_env/autodrive_devkit/build/*/
devkit_env/autodrive_devkit/install/*/
devkit_env/autodrive_devkit/log/*/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor settings
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.egg-info/